.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(63, 126, 243);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__left img {
    height: 3rem;
    margin-left: 1rem;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__right button {
    margin: 0.5rem;
    padding: 0.5rem;
}
